@import (reference) "../Mixins";

.route-download {
  padding-top: 40px;

  .mv-header {
    .h-item {
      flex: 1;
      text-align: center;
      font-size: var(--small-font);
      padding: 8px 0;
      border-bottom: 1px solid transparent;

      &.focus {
        color: var(--blue-color);
        border-color: var(--blue-color);
      }
    }
  }

  .row-cancel {
    text-align: center;
    padding: var(--unit) 0;

    .mv-btn {
      width: 200px;
    }
  }

  .items-list {
    padding: var(--unit);

    .item {
      .mixin-half-px(@direction: 'bottom');
      padding-bottom: var(--2unit);

      .i-info {
        margin-top: var(--unit);
        margin-bottom: var(--unit);

        .ii-cell {
          .flex-between;
          font-size: var(--small-font);
          padding: 4px 0;

          span:first-child {
            color: var(--second-color);
          }
        }
      }
    }

    .item-ing {
      .i-actions {
        .flex-between;

        .mv-btn {
          min-width: 100px;
        }
      }
    }
  }
}