@import (reference) "../Mixins";

.route-home {
  .home-page-1 {
    padding-top: 40px;

    .mv-header {
      .header-left {
        max-width: calc(100% - 80px);

        .home-header-left {
          padding-left: var(--3unit);
        }

        .non-home-header-left {
          .flex-start;

          span {
            .truncate;
            flex: 1;
          }
        }

        .mint-search {
          height: auto;
          padding: 2px 0;

          .mint-searchbar {
            padding: 0;
            border-radius: 20px;
            background-color: #f1f2f4;

            .mint-searchbar-inner {
              background-color: transparent;
              padding-top: 0;
              padding-bottom: 0;
              padding-left: 16px;

              .mintui {
                display: none;
              }

              .mint-searchbar-core {
                background-color: transparent;
                font-size: 12px;
              }
            }

            .mint-searchbar-cancel {
              display: none;
            }
          }
        }
      }

      .header-right {
        flex-shrink: 0;

        .icon {
          color: var(--main-color);
        }

        .icon-more-h {
          margin-left: var(--2unit);
        }
      }
    }

    .list {
      .mv-row {
        .cell {
          &.l {
            margin-right: var(--2unit);
          }

          &.m {
            font-size: var(--small-font);
            white-space: pre-wrap;
          }

          &.r {
            .flex-start;
            height: 46px;
            padding: 0 var(--2unit);
          }
        }
      }
    }
  }

  .mv-tab-actions {
    background-color: var(--blue-color);
    z-index: 2;

    .t-item {
      line-height: 50px;
      font-size: var(--small-font);
      text-align: center;
      color: var(--white);

      &.disabled {
        color: var(--disabled-color);
      }
    }
  }

  .pallet-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding: var(--unit);
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10vh;

    .pb-item {
      width: 33%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .icon-wrap {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: var(--2unit);

        .icon {
          width: 25px;
          height: 25px;
        }

        &.is-folder {
          background-color: #fff3cf;
        }

        &.is-file {
          background-color: #cfedf0;
        }
      }

      > span {
        font-size: var(--small-font);
      }
    }
  }

  .mv-drop-down {
    .shadow-light;
    position: absolute;
    right: var(--unit);
    top: 42px;
    z-index: 20;
    background-color: var(--white);
    border-radius: var(--border-radius);

    .dd-item {
      .mixin-half-px(@direction: 'bottom');
      padding: var(--unit) var(--2unit);
      text-align: center;
      font-size: var(--small-font);
    }
  }
}