@import "../Variables";
@import (reference) "../Mixins";

.route-recycle {
  padding-top: 40px;

  .mv-row {
    padding: @unit;

    .cell {
      &.m {
        .file-name {
          font-size: @small-font;
        }

        .file-info {
          margin-top: 4px;
          font-size: @small-font;
          color: @assist-font-color;

          .file-left {
            margin-left: @3unit;
          }
        }
      }

      &.r {
        .flex-start;
        height: 42px;
        padding: 0 @2unit;
      }
    }
  }

  .mv-tab-actions {
    background-color: @blue-color;
    z-index: 2;

    .t-item {
      line-height: 50px;
      font-size: @small-font;
      text-align: center;
      color: @white-color;
    }
  }
}