@import (reference) "Mixins";
@import "CssVariables";
@import "Normalize";
@import "Animation";
@import "Components";
@import "Pages/Lock";
@import "Pages/Home";
@import "Pages/Share";
@import "Pages/Recycle";
@import "Pages/Download";
@import "Pages/User";

html, body, #app {
  height: 100%;
}

.route-download {
  height: 100%;
}

.no-data {
  text-align: center;
  color: var(--second-color);
  margin-top: 20vh;
}
